* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color:aquamarine;
}

.container {
    width: 400px;
    margin: 0 auto;
    border: 2px solid teal;
}

.container h1 {
    margin: 20px 0;
    font-size: 40px;
    text-align: center;
}

input[type="text"]{
    display: block;
    margin: 10px auto;
    padding: 0 10px;
    width: 80%;
    line-height: 30px;
    border: 2px solid #3636a3;
    border-radius: 8px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 0 20px;
    line-height: 30px;
    background-color: #3636a3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.lista {
    margin: 20px;
}

.item {
    margin: 10px 0;
    display: flex;
}

.item span {
    margin: 0 5px;
}



